@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
<div class="container">
    <div class="cover-header">
        <div class="header-left-home">
            <ul class="cover-menu">
                @if (ViewBag.Categories != null)
                {
                    var lookup = ViewBag.Categories as ILookup<int, Category>;
                    var rootCategories = lookup[0].ToList();
                    foreach (var item in rootCategories)
                    {
                        <li class="cover-cate">
                            <a asp-controller="Product" asp-action="@item.link">@item.name_cate</a>
                            <span class="arrow">›</span>
                            @{
                                var subCategories = lookup[item.category_id].ToList();
                            }
                            @if (subCategories.Any())
                            {
                                <div class="submenu">
                                    <div class="submenu-header">
                                        <h3>Danh mục nổi bật</h3>
                                        <a asp-controller="Product" asp-action="@item.link">Xem tất cả ></a>
                                    </div>
                                    <ul class="hover">
                                        @foreach (var child in subCategories)
                                        {
                                            <li>
                                                <a asp-controller="Product" asp-action="@child.link">@child.name_cate</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </li>
                    }
                }
                else
                {
                    <li>Không có danh mục nào để hiển thị.</li>
                }

            </ul>
        </div>
        <div class="header-right-home">
            <img src="https://noithatqg.com/wp-content/uploads/2021/01/thiet-ke-cua-hang-sach-dep.gif" alt="" />
        </div>
    </div>
</div>
