@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
<div class="container">
    <div class="cover-header">
        <div class="header-left-home">
            <ul class="cover-menu">
                @if (ViewBag.Categories != null)
                {
                    var lookup = ViewBag.Categories as ILookup<int, Category>;
                    var rootCategories = lookup[0].ToList();
                    foreach (var item in rootCategories)
                    {
                        <li class="cover-cate">
                            <a asp-controller="Product" asp-action="@item.link">@item.name_cate</a>
                            <span class="arrow">›</span>
                            @{
                                var subCategories = lookup[item.category_id].ToList();
                            }
                            @if (subCategories.Any())
                            {
                                <div class="submenu">
                                    <div class="submenu-header">
                                        <h3>Danh mục nổi bật</h3>
                                        <a asp-controller="Product" asp-action="@item.link">Xem tất cả ></a>
                                    </div>
                                    <ul class="hover">
                                        @foreach (var child in subCategories)
                                        {
                                            <li>
                                                <a asp-controller="Product" asp-action="@child.link">@child.name_cate</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </li>
                    }
                }
                else
                {
                    <li>Không có danh mục nào để hiển thị.</li>
                }

            </ul>
        </div>
        <div class="header-right-home">
            <img src="https://noithatqg.com/wp-content/uploads/2021/01/thiet-ke-cua-hang-sach-dep.gif" alt="" />
        </div>
    </div>
    <div class="body-page">
        <div class="product-sale">
            <h2 class="title-style"> Sản phẩm giảm giá sốc 🔥</h2>
            <div class="slider-product">
             <button class="slide-btn prev" onclick="slideLeft()">❮</button>
             <button class="slide-btn next" onclick="slideRight()">❯</button>
             <div class="product-list" id="productSlider">
                @if (ViewBag.Sachs != null)    
                    foreach(var p in ViewBag.Sachs)
                    {
                        <div class="product-card">
                            @if(p.Percent > 0)
                            {
                                <span class="sale-pecent">-@p.Percent%</span>
                            }
                            <img src="@p.img" alt="" class="product-img">
                            <h3 class="product-name padding style-name">@p.Ten_Sach</h3>
                            <div class="product-price">
                                <span class="price-origin ">
                                    @String.Format("{0:N0}", p.Don_gia ?? 0)₫
                                </span>
                                <span class="price-sale">
                                    @String.Format("{0:N0}", p.Gia_Ban ?? 0)₫
                                </span>
                            </div>                          
                        </div>
                    }
            </div>
            </div>
        </div>
        <div class="product-sale">
            <h2 class="title-style">Sách Truyện Tranh</h2>
                <div class="product-list">
                    @if (ViewBag.Sachs != null)
                        foreach (var p in ViewBag.Sachs)
                        {
                            <div class="product-card">
                                @if (p.Percent > 0)
                                {
                                    <span class="sale-pecent">-@p.Percent%</span>
                                }
                                <img src="@p.img" alt="" class="product-img">
                                <h3 class="product-name padding style-name">@p.Ten_Sach</h3>
                                <div class="product-price">
                                    <span class="price-origin ">
                                        @String.Format("{0:N0}", p.Don_gia ?? 0)₫
                                    </span>
                                    <span class="price-sale">
                                        @String.Format("{0:N0}", p.Gia_Ban ?? 0)₫
                                    </span>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
    <script>
        const slider = document.getElementById('productSlider');
        const cardWidth = 270;

        function slideLeft() {
            slider.scrollBy({
                left: -cardWidth * 3,
                behavior: 'smooth'
            });
        }

        function slideRight() {
            slider.scrollBy({
                left: cardWidth * 3,
                behavior: 'smooth'
            });
        }
    </script>
</div>
